@import model.Hotel
@(searchResults: Seq[Hotel], pricesByHotelId: Map[Long, String] = Map())


<table class="table">
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Images</th>
    </tr>
    @for(hotel <- searchResults) {
        <tr>
            <td>@hotel.name</td>
            <td><a href="http://maps.google.com/?q=@{hotel.name} near @{hotel.coordinates.lat},@{hotel.coordinates.long}">Map</a></td>
            <td>
            @for(image <- hotel.images) {
                <img height="200px" src="@image" />
            }
            </td>
        </tr>
    }
</table>
